<%= @game.current_player.name %> attacked <%= @game.opponent.name %>
<%= @game.player2.name %>: <%= @game.player2.hit_points %>HP
<%= @game.player1.name %>: <%= @game.player1.hit_points %>HP

<a href="/play">Next turn</a>
